.general-features {
    color: #333f48;
    font-size: 16px;
    line-height: 24px;
    font-family: "PangeaRegular";
    font-weight: 400;
}

.feature-icon {
    margin-right: 6px;
}

.feature {
    margin-right: 12px;
}