@font-face {
  font-family: "PangeaRegular";
  src: local("PangeaRegular"),
    url("./fonts/Pangea/PangeaTrial-Regular.woff") format("truetype");
}

@font-face {
  font-family: "PangeaLight";
    src: local("PangeaLight"),
      url("./fonts/Pangea/PangeaTrial-Light.woff") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
